[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
scrapy-user-agents = "*"
scrapy-proxy-pool = "*"

[dev-packages]

[requires]
python_version = "3.11"
